<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="db_mantenimiento_oroginal" connectionString="Data Source=ROOT\sqlexpress;Initial Catalog=db_mantenimiento;Integrated Security=True"/>
	<add name="db_mantenimiento" connectionString="Data Source=DESKTOP-6PSCKGU\SQLEXPRESS;Initial Catalog=db_mantenimiento;Integrated Security=True"/>
  </connectionStrings>


	
	
	
</configuration>
